@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
nav {
  background-color: #EFEFEF;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav img {
  width: 50px;
  background-color: rgb(41, 41, 41);
  border-radius: 50%;
}
nav p {
  font-family: "Roboto", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tabs-container {
  margin: 0 20px;
  overflow-x: auto;
  white-space: nowrap;
  background-color: #D9D9D9;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
}

.tabs {
  display: inline-block;
  transition: 0.5s;
}

.tab {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: #EFEFEF;
  margin: 0 5px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #2e2e2e;
  font-size: 16px;
  transition: 0.5s;
}

.tab:hover {
  box-shadow: 0px 0px 0px 1.5px orangered inset;
  -webkit-box-shadow: 0px 0px 0px 1.5px orangered inset;
  -moz-box-shadow: 0px 0px 0px 1.5px orangered inset;
}

.menu {
  position: sticky;
  top: 10px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #EFEFEF;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
}
.card img {
  height: 95%;
  width: 30%;
  object-fit: cover;
  border-radius: 10px;
  object-position: center;
}
.card h3 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.infoCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #3a3a3a;
}

.pCard {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  display: inline-block;
}

.precio {
  width: 35px;
  text-align: center;
  font-size: 11px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: orangered;
  border: 1px solid orangered;
  display: inline-block;
  padding: 2px;
  border-radius: 5px;
  text-wrap: nowrap;
}

.pE {
  width: 60px;
}

@media (min-width: 450px) {
  .card {
    height: 150px;
  }
  .card img {
    height: 120px;
  }
  .card h3 {
    font-size: 30px;
  }
  .pCard {
    font-size: 20px;
  }
  .precio {
    font-size: 20px;
    width: 60px;
  }
  .pE {
    width: 100px;
  }
}
footer {
  background-color: #D9D9D9;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 5px;
  align-self: flex-end;
}

.logoFooter {
  width: 40px;
  background-color: black;
  border-radius: 50%;
}

.redesFooter {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 120px;
  gap: 10px;
}
.redesFooter img {
  width: 30px;
  opacity: 50%;
  filter: brightness(0%);
}

.menuSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 10px;
}
.menuSection h2 {
  align-self: flex-start;
  font-family: "Roboto", sans-serif;
  color: #2e2e2e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
}

a {
  text-decoration: none;
  color: #2e2e2e;
}

/*# sourceMappingURL=style.css.map */
